.ant-select {
    border-radius: 20px;
    margin: 10px;
    border: 0.1px solid #0000004f;
    width: 60%;
 }
 .ant-select-selector {
    border-radius: 20px !important;
    border: 0.1px solid #0000004f !important;
 }
